{:deps {markdown-clj/markdown-clj {:mvn/version "1.10.7"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        selmer/selmer {:mvn/version "1.12.44"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}}
 :paths ["src"]
 :tasks
 {:requires
  ([babashka.fs :as fs]
   [clojure.string :as str]
   [tasks]
   [clojure.java.shell :as shell])

  new {:doc "Create new blog article"
       :task (tasks/new)}

  clean {:doc "Remove work and out directory"
         :task (do (fs/delete-tree config/+work-dir+)
                   (fs/delete-tree config/+out-dir+))}
  render {:doc "Render blog"
          :task (tasks/render!)}

  publish {:doc "Publish blog"
           :task (tasks/publish!)}

  serve {:doc "Start server"
         :task (tasks/start-server!)}}}
