{:title "GCP Load Balancer"
 :file "gcp-load-balancer.md"
 :tags #{"clojure" "gcp" "app-engine" "ssl" "waf" "cloud-armor"}
 :date "2021-07-15"}
{:title "Blogging with Babashka"
 :file "blogging-with-babashka.md"
 :tags #{"clojure"}
 :date "2021-12-14"}
